 html, body {
  margin: 0;
  padding: 0;
  background: #fff url("gerak.gif") no-repeat top left;
  background-size: cover;
  }
 .header h1,h2{
text-align:center;
}
.utama{
text-decoration:none;
margin-top:20%;
 margin-left:20%;
  margin-bottom: -1%;
   display: inline;
  position: relative;
  color: #ff0000;
  width: 16%;
  height: 10%;
  float: left;
  bottom: 10em;
  left: 5%;
  margin-bottom: 0.313em;
  background-color: #c0c0c0;
  box-shadow: 0 0 3px 1px #1F213A;
  border-radius: 1.25em;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}
h1 {
   font-size: 39px;
  text-align: left;
  margin-bottom: -1%;
  color: #FF1493;
}
h2 {
  font-size: 2rem;
 color:#FF1493;
  
}
h3 {
  font-size: 2rem;
   text-align:center;
  margin-bottom: -1%;
 color:#ff0000;
}
h5{
color:#ff0000;
text-align:center;
}
.canvas{
margin-left:40%;

}
